.card {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
}

.food-label {
    object-fit: contain;
}

.card-btns {
    width: auto;
    text-align: center;
    padding: 0;
    margin: 0;
    box-shadow:0 -0.5rem 1rem -0.225rem;

}

.card-btn {
    padding: 0 1rem;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 2rem;
}

.card-btn:hover {
    cursor: pointer;
    text-shadow: 3px 3px 6px;
}

.card-btn:focus {
    outline: 0;
}