.table-title {
    font-size: small;
    font-weight: bold;
    padding-top: 4rem;
}

.table, table {
    table-layout: fixed;
    overflow: scroll;
}

.food-list{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}