.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 105vh;
    margin: 0.45;

}

.card {
    position: relative;
    display: flex;

}

.dashboard-picture {
    width: 30rem;
    height: 30rem;
    border-radius: 100%;
    object-fit: fill;
    justify-content: center;
}